{
  border: 1px solid red !important;
}

body {
  margin-top: 4em;
}

.heading {
  height:2em;
}

.outer_line {
  width: 4px;
  height: 55%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.line {
  position: absolute;
  width:100%;
  height: 100%;
  background: grey;
  top: 5%;
}

.part .head {
  font-weight: bold;
}

/*
.ORIGINAL {
  text-align: left;
}

.PREDICTED {
  text-align: right;
}
*/
