<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/over.css')}}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center bottom_clear">
                <p style="font-size:5em;"><span class="glyphicon glyphicon-thumbs-up"></span></p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <span class="message">Thanks !!!<br>Game Over.</span>
            </div>
        </div>
    </div>
</body>
</html>
