<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/play.css')}}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-2 col-md-2 col-sm-offset-5 col-md-offset-5">
            <h3 class="updated_number well well-sm text-center"><b>{{count}}</b></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 text-center">
          <h1 class="heading">ORIGINAL</h1>
          <div class="ORIGINAL">
            <div class="part">
              <span class="head"><h3>{{data['ORIG']['Name']}}</h3></span>
            </div>
            <div style="height:2em;">
            </div>
            <div class="part">
              <span class="head">STREET :</span>&nbsp;<span>{{data['ORIG']['Street Address']}}</span>
            </div>
            <div class="part">
              <span class="head">LOCALITY :</span>&nbsp;<span>{{data['ORIG']['Locality']}}</span>
            </div>
            <div class="part">
              <span class="head">VILLAGE :</span>&nbsp;<span>{{data['ORIG']['Village']}}</span>
            </div>
            <div class="part">
              <span class="head">CITY :</span>&nbsp;<span>{{data['ORIG']['City']}}</span>
            </div>
            <div class="part">
              <span class="head">PINCODE :</span>&nbsp;<span>{{data['ORIG']['Pincode']}}</span>
            </div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
          <div class="outer_line">
            <div class="line"></div>
          </div>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 text-center">
          <h1 class="heading">PREDICTED</h1>
          <div class="PREDICTED">
            <div class="part">
              <span class="head"><h3>{{data['PRED']['Name']}}</h3></span>
            </div>
            <div style="height:2em;">
            </div>
            <div class="part">
              <span class="head">ADD :</span>&nbsp;<span>{{data['PRED']['Address']}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top:4em;">
        <div class="col-xs-2 col-sm-2 col-md-2 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 text-center">
          <form action="{{url_for('update')}}" method="POST">
            <input type="text" name="key" value="{{key}}" hidden="hidden">
            <input type="text" name="status" value="1" hidden="hidden">
            <button type="submit" class="btn-lg btn-success">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </form>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
          <form action="{{url_for('update')}}" method="POST">
            <input type="text" name="key" value="{{key}}" hidden="hidden">
            <input type="text" name="status" value="0" hidden="hidden">
            <button type="submit" class="btn-lg btn-danger">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
